.item {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    width: 700px;
    justify-content: space-between;
}

.item > * {
    padding-right: 30px;
    font-size: 32px;
    align-items: center;
    justify-content: center;
}

.answer {
    border: 1px solid black;
    border-radius: 5px;
    width: 200px;
    height: 40px;
    background-color: #f5f5f5;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

.answer:hover:disabled {
    background-color: #d3d3d3;
    cursor: not-allowed;
}


.submit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: #f5f5f5;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-size: 28px;
}

.submit:hover {
    transform: scale(1.1);
}


/* Media queries */
@media screen and (max-width: 768px) {
    .item {
        width: 300px;
    }

    .answer {
        width: 100px;
        margin-top: 5px;
    }

    .submit {
        width: 40px;
        height: 40px;
    }

    .item > * {
        font-size: 18px;
    }

    .item > *:last-child {
        padding-right: 0;
    }

}